[Desktop Entry]
Version=1.0
Type=Application
Name=Library_manager
Comment=Manage Library database
Exec=library_manager
Icon=library_manager
Terminal=false
StartupNotify=false
Categories=Utility;
